.app-grid {
  border: 1px solid #f0f5f7;
  padding: 10px;
}
.app-grid .ag-menu {
  background: transparent !important;
  border: 0 !important;
}

.ag-row.ag-row-hover:not(.disabled-row) .ag-cell a.edit-icon {
  color: #00c976;
}
.ag-row.ag-row-hover:not(.disabled-row) .ag-cell a.edit-icon .icons.icon-pencil {
  color: #00c976;
}
.ag-row.ag-row-hover:not(.disabled-row) .ag-cell a.trash-icon {
  color: #ff5252;
}
.ag-row.ag-row-hover:not(.disabled-row) .ag-cell a.trash-icon .icons.icon-trash {
  color: #ff5252;
}

i.fa.fa-close{
  color: red;
}
i.fa.fa-check{
  color: green;
}


/*.ag-fresh .ag-header {*/
  /*background: #f7f8fc !important;*/
  /*color: #262b4d !important;*/
  /*border-color: #f7f8fc;*/
/*}*/
/*.ag-fresh .ag-header-cell-label {*/
  /*padding-top: 3px;*/
/*}*/
/*.ag-fresh .ag-header-cell-label .ag-header-icon {*/
  /*color: #262b4d !important;*/
/*}*/
/*.ag-fresh .ag-header-cell-label .ag-header-cell-text {*/
  /*margin-right: 10px;*/
/*}*/
/*.ag-fresh .ag-ltr .ag-header-cell {*/
  /*text-align: left;*/
  /*vertical-align: bottom;*/
  /*border: none !important;*/
  /*border-bottom: 2px solid #ddd;*/
  /*padding: 8px;*/
  /*line-height: 1.42857143;*/
  /*background: #f7f8fc;*/
  /*color: #262b4d;*/
  /*font-size: 13px;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-weight: 700;*/
/*}*/
/*.ag-fresh .ag-cell-not-inline-editing {*/
  /*padding: 8px !important;*/
/*}*/
/*.ag-fresh .ag-row-even {*/
  /*background: #fff !important;*/
/*}*/
/*.ag-fresh .ag-row-odd {*/
  /*background: #fff !important;*/
/*}*/
/*.ag-fresh .ag-root {*/
  /*border: none !important;*/
/*}*/
/*.ag-fresh .ag-row:hover {*/
  /*background: #f8f8f8 !important;*/
/*}*/
/*.ag-fresh .ag-row:focus {*/
  /*background: #f8f8f8 !important;*/
/*}*/
/*.ag-fresh .ag-cell:focus {*/
  /*outline: none;*/
/*}*/
/*.ag-fresh .ag-header-icon {*/
  /*color: #fff !important;*/
  /*stroke: none !important;*/
  /*fill: #fff !important;*/
/*}*/
