<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#/dashboard">Home</a>
    <i class="fa fa-angle-right"></i>
    <a class="breadcrumb-item" href="#/user/list">User</a>
    <i class="fa fa-angle-right"></i>
    <span class="breadcrumb-item active">Change Password</span>
</nav>

<div class="box">
    <div class="box-title">
        <h3>
            <i class="fa fa-pencil-square-o"></i>
            Change Password
        </h3>
    </div>
</div>


<div class="container center-container"><br>
    <form #userForm="ngForm" novalidate (ngSubmit)="changePassword(userForm)">
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input type="password" class="form-control" name="oldPassword" id="oldPassword"
                   placeholder="Enter the oldPassword"
                   #oldPassword="ngModel"
                   [(ngModel)]="passwordData.oldPassword" required>
            <div [hidden]="oldPassword.valid||oldPassword.pristine" class="alert alert-danger">
                Old Password is required
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" name="newPassword" id="newPassword"
                   placeholder="Enter the newpassword"
                   #newPassword="ngModel"
                   [(ngModel)]="passwordData.newPassword"
                   required>
            <div [hidden]="newPassword.valid||newPassword.pristine" class="alert alert-danger">
                New password is required
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                   placeholder="Enter the new password again"
                   #confirmPassword="ngModel"
                   [(ngModel)]="passwordData.confirmPassword"
                   required>
            <div [hidden]="confirmPassword.valid||confirmPassword.pristine" class="alert alert-danger">
                Confirm password is required
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!userForm.form.valid">Update</button>
    </form>
</div>
