<!--<div class="container-fluid">-->
  <!--<div class="flexbox-container  centered">-->
    <!--<div class="row">-->
      <!--<div class="login forgot-pass col-lg-12  col-md-12 col-sm-12">-->
        <!--<div class="login-header clearfix">-->
          <!--<div class="text-center">-->
            <!--&lt;!&ndash;<img src="assets/img/lockon-img.png"></div>&ndash;&gt;-->
          <!--<h3>Set Password</h3>-->
        <!--</div>-->
        <!--<form #resetPasswordForm="ngForm" class='form-validate form-horizontal' name="resetPasswordForm"-->
              <!--id="resetPasswordForm" novalidate-->
              <!--[ngClass]="{'ng-submitted':resetPasswordForm.submitted}">-->
          <!--<div class="login-body">-->
            <!--<div class="form-group">-->
              <!--<input type="password" name="password" placeholder="New Password" [(ngModel)]="newPassword"-->
                     <!--#password="ngModel" required>-->
              <!--<span class="help-block has-error"-->
                    <!--*ngIf="password.errors && password.errors.required && (password.dirty || resetPasswordForm.submitted)">-->
              <!--Please enter new password.-->
            <!--</span>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<input type="password" name="confirm-password" placeholder="Retype Password"-->
                     <!--[(ngModel)]="newConfirmPassword" #confPassword="ngModel" required>-->
              <!--<span class="help-block has-error"-->
                    <!--*ngIf="confPassword.errors && confPassword.errors.required && (confPassword.dirty || resetPasswordForm.submitted)">-->
              <!--Please enter retype password.-->
            <!--</span>-->
              <!--<span class="help-block has-error" *ngIf="checkPasswordMatch(resetPasswordForm)">-->
              <!--Your passwords did not match.-->
            <!--</span>-->
            <!--</div>-->
            <!--<div class="form-group m-b-none submit-btn clearfix">-->
              <!--<button type="submit"-->
                      <!--class="btn btn-primary pull-right"-->
                      <!--[disabled]="isLoading"-->
                      <!--value="Reset" (click)="resetForgotPassword(resetPasswordForm)">-->
                <!--Set-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container center-container">
  <h2> Reset password</h2>
  <form #userForm="ngForm" novalidate (ngSubmit)="resetForgotPassword(userForm)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email"
             #email="ngModel"
             [(ngModel)]="user.email"
             disabled>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" class="form-control" name="newPassword" id="newPassword"
             placeholder="Enter the newpassword"
             #newPassword="ngModel"
             [(ngModel)]="user.newPassword"
             required>
      <div [hidden]="newPassword.valid||newPassword.pristine" class="alert alert-danger">
        New password is required
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
             placeholder="Enter the new password again"
             #confirmPassword="ngModel"
             [(ngModel)]="user.confirmPassword"
             required>
      <div [hidden]="confirmPassword.valid||confirmPassword.pristine" class="alert alert-danger">
        Confirm password is required
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!userForm.form.valid">Update</button>
  </form>
</div>
