<h2>User List</h2>
<!--<crud-page-header [options]="pageHeaderOptions"></crud-page-header>-->
<app-grid [options]="gridOptions"></app-grid>

<!--<nav class="breadcrumb">-->
    <!--<a class="breadcrumb-item" href="#/dashboard">Home</a>-->
    <!--<i class="fa fa-angle-right"></i>-->
    <!--<span class="breadcrumb-item active">Users</span>-->
<!--</nav>-->

<!--<div class="container-fluid">-->
    <!--<div class="list-header">-->
        <!--<nav class="nav navbar-default">-->
            <!--<div class="navbar-header">-->
                <!--<h3 class="navbar-text navbar">-->
                    <!--<i class="fa fa-list"></i>-->
                    <!--User Details-->
                <!--</h3>-->
            <!--</div>-->
            <!--<div class="nav navbar-nav navbar-right">-->
                <!--<a href="/#/user/add" class="btn btn-success">-->
                    <!--<i class="glyphicon glyphicon-plus-sign"></i> Add User</a>-->
            <!--</div>-->
        <!--</nav>-->
    <!--</div>-->
    <!--<div class="list">-->
        <!--<rapid-grid [rapidGridOptions]="rapidGridOptions"></rapid-grid>-->
    <!--</div>-->
<!--</div>-->
